*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html,
.body,
.container{
    height: 100%;
}
.form{
    width: 250px;
    aspect-ratio: 1 / 2;
    background-color: blue;

}
.container{
    display: flex;
    
}
.left,
.right{
    width: 50%;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure{
    height: 100%;
    width: 100%;
    line-height: 0;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

